@import 'src/app/style';

.title {
  @include pal((
    space: mb2,
    _: (
      font-size: 2rem,
      font-weight: bold,
    ),
  ));
}

.modal-text {
  font-size: 1.25rem;
  text-align: justify;
}
