<ng-container *ngIf="ui.loaded | async; else loading">

  <!-- Search results -->
  <ng-container *ngIf="ui.searchQuery | async as query; else recent">

    <!-- Search query -->
    <span class="search-query">
      <strong>
        {{ query }}
      </strong>
    </span>

    <ng-container *ngIf="ui.searchResults | async as results; else noResults">
      <ui-list class="full-width padded">
        <li
          *ngFor="let result of results"
          class="result"
          (click)="onResultSelect(result)"
        >
          <span class="result-id">#{{ result.id }}</span>
          <span class="result-direction">
            <strong>{{ ui.dirAbbrev[result.direction] }}</strong>
          </span>
          <span class="result-clue">{{ result.clue }}</span>
        </li>
      </ui-list>
    </ng-container>
  </ng-container>

  <!-- Recent searches -->
  <ng-template #recent>
    <ng-container *ngIf="ui.recentSearchesCount | async as count; else noRecents">
      <h2>Recent searches ({{ count }})</h2>
      <p>List of recent searches here...</p>
    </ng-container>
  </ng-template>

  <!-- Modal -->
  <ui-modal
    *ngIf="modal?.show"
    [title]="modal.title"
    [confirm]="modal?.confirm"
    (dismissed)="modal.show = false"
    (confirmed)="modal.show = false"
  >
    <ng-container
      [ngTemplateOutlet]="clueRef"
      [ngTemplateOutletContext]="modal.context"
    ></ng-container>
  </ui-modal>

</ng-container>

<ng-template #loading>
  Loading...
</ng-template>

<ng-template #noRecents>
  <h2>No recent searches to show</h2>
  <p>
    Select a direction <em>(Horizontals, Verticals)</em>,
    then start typing on the keyboard below to perform a search
  </p>
</ng-template>

<ng-template #noResults>
  <p>No clues found</p>
</ng-template>

<ng-template #clueRef let-text="text">
  <span class="modal-text">{{ text }}</span>
</ng-template>
