// https://alligator.io/css/transition-box-shadows/

@mixin app-fast-shadow-hover()
{
  position: relative;

  &::before {
    @include pal-position(absolute 0);
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
    @content;
  }
  &:hover::before {
    opacity: 1;
  }
}
