// https://alligator.io/css/transition-box-shadows/

@mixin app-fast-shadow-hover($duration: 0.2s, $timing-function: ease-in-out)
{
  position: relative;

  &::before {
    @include pal-position(absolute 0);
    content: ' ';
    opacity: 0;
    transition: opacity $duration $timing-function;
    @content;
  }
  &:hover::before {
    opacity: 1;
  }
}
