@import 'src/app/style';

button {
  transition: all 0.15s ease-in-out;
  border-radius: pal-get('units.3/4');
  letter-spacing: 2px;
  @include pal((
    border: 2px solid transparent,
    space: m1,
  ));

  &:active,
  &:focus {
    outline: none;
    border: 2px solid pal-color-get('gray');
  }

  @include app-fast-shadow-hover {
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: pal-get('units.3/4');
  }
}

// Color
.color-primary {
  @include pal((
    '*': (color: 'black' 'white'),
    ':hover': (color: 'gray-dark')
  ));


}

.color-secondary {
  @include pal((
    '*': (color: 'gray'),
    ':hover': (color: 'gray-light'),
  ));
}

.color-outline-primary {
  @include pal((
    '*': (color: 'white' 'black' 'black'),
    ':hover': (color: 'black' 'white'),
  ));
}

.color-outline-secondary {
  @include pal((
    '*': (color: 'white' 'gray-dark' 'gray'),
    ':hover': (color: 'gray'),
  ));
}

// Active
button:focus.is-active,
button:active.is-active,
.is-active {
  @include pal((
    border: 2px solid pal-color-get('blue'),
    color: 'white',
  ));
}

// Size
.size-small {
  @include pal-space('py0,7' 'px2');
  font-size: 0.95rem;
}

.size-medium {
  @include pal-space('py1,5' 'px3');
  font-size: 1.1rem;
}

.size-large {
  @include pal-space(py2 px5);
  font-size: 1.3rem;
}

// Margin
.no-margin {
  @include pal-space(m0);
}

// Full width
.is-full-width {
  display: block;
  width: 100%;
  margin: 0;
}
