@import 'src/app/style';

header {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  @include pal-flex((
    main-axis: between,
    cross-axis: center,
  ));
}

.breadcrumbs {
  font-size: 1.2rem;
  font-style: italic;
  @include pal((
    flex: ( cross-axis: center ),
    space: py2,
  ));
}

.menu-handle {
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: pal-color-get('gray');
    cursor: pointer;
  }
}
