<header>
  <div class="container">
    <div class="breadcrumbs">
      <a routerLink="/">

        <!-- Logo -->
        <span class="logo">
          <span class="logo-left">Crosswords</span>
          <span class="logo-right">Buddy</span>
        </span>

      </a>
      <ui-icon-chevron right></ui-icon-chevron>
      <span>{{ ui.title | async }}</span>
    </div>
    <div class="menu-handle" (click)="onToggleMenu()">
      {{ (ui.menuIsOpen | async) ? 'Close' : 'Menu' }}
    </div>
  </div>
</header>
