<header>
  <div class="container">
    <div class="breadcrumbs">
      <div class="crumb">

        <!-- Logo -->
        <span class="logo">
          <span class="logo-left">Crosswords</span>
          <span class="logo-right">Buddy</span>
        </span>

      </div>
      <ui-icon-chevron right></ui-icon-chevron>
      <div class="crumb">{{ ui.title | async }}</div>
    </div>
    <div class="menu-handle" (click)="onToggleMenu()">
      {{ (ui.menuIsOpen | async) ? 'Close' : 'Menu' }}
    </div>
  </div>
</header>
