@import 'src/app/style';

header {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.container {
  @include pal((
    position: relative,
    flex: (
      main-axis: between,
      cross-axis: center,
    ),
  ));
}

.breadcrumbs {
  @include pal((
    flex: ( cross-axis: center ),
    space: py2,
    _: (
      font-style: italic,
    )
  ));
}

.logo {
  box-shadow: -2px 5px 5px 0 rgba(0, 0, 0, 0.2);

  &-left,
  &-right {
    @include pal-space(p1/2);
  }

  &-left {
    @include pal-color('black' 'white');
  }

  &-right {
    @include pal-color('white' 'black');
  }
}

.menu-handle {
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: pal-color-get('gray');
    cursor: pointer;
  }
}
