@import 'src/app/style';

.file-upload {
  @include pal((
    size: h-6,
    position: relative,
    _: (
      cursor: pointer,
      display: block,
    )
  ));
}

input[type="file"] {
  opacity: 0;
}

.file-custom {
  @include pal((
    position: absolute (0),
    flex: ( cross-axis: center ),
    _: (
      user-select: none,
    )
  ));

  &.centered {
    justify-content: center;
  }

  ui-button, ::ng-deep ui-button {
    pointer-events: none;
  }
}

.file-custom-name {
  @include pal((
    space: pl3,
    color: (text: 'gray-dark'),
  ));
}
