@import 'src/app/style';

.file-upload {
  cursor: pointer;
  position: relative;
  display: block;
  height: 3rem;
}

input[type="file"] {
  opacity: 0;
}

.file-custom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
  display: flex;
  align-items: center;

  &.centered {
    justify-content: center;
  }

  ui-button, ::ng-deep ui-button {
    pointer-events: none;
  }
}

.file-custom-name {
  @include pal((
    space: pl3,
    color: (text: 'gray-dark'),
  ));
}
