<main>

  <!-- Header -->
  <app-header></app-header>

  <!-- Pages -->
  <div class="container content">
    <router-outlet></router-outlet>
  </div>

  <!-- Keyboard -->
  <app-controls
    *ngIf="(ui.url | async) === '/search'"
  ></app-controls>

</main>

<!-- Off-canvas menu -->
<app-side-menu></app-side-menu>

<!-- Alert -->
<ui-alert
  *ngIf="(ui.alert | async) as alert"
  [title]="alert.title"
  [message]="alert?.message"
  [type]="alert.type"
  (dismissed)="onAlertDismiss()"
></ui-alert>
