@import 'src/app/style';

main {

  // Thanks to https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @include pal((
    flex: (
      dir: column,
      main-axis: between,
      cross-axis: stretch,
    ),
  ));
}

.content {
  overflow-y: scroll;
  @include pal((
    space: pt1,
    flex: (grow: 'normal'),
  ));
}

.content::-webkit-scrollbar {
  display: none;
}
