@import 'src/app/style';

main {
  @include pal((
    size: h-screen,
    flex: (
      dir: column,
      main-axis: between,
      cross-axis: stretch,
    )
  ));
}

.content {
  @include pal((
    space: pt1,
    flex: (grow: 1),
  ));
}
