<div class="controls">

  <!-- Collapse -->
  <div class="collapse" (click)="onControlsCollapse()">
    <ui-icon-chevron
      [up]="!(ui.controlsAreOpen | async)"
      [down]="ui.controlsAreOpen | async"
    ></ui-icon-chevron>
  </div>

  <div *ngIf="ui.controlsAreOpen | async" class="container">

    <!-- Filters -->
    <div class="filters">
      <div class="filter">
        <ui-button
          isFullWidth
          [isActive]="(ui.searchDirection | async) === Direction.Horizontal"
          (click)="onFilterClick(Direction.Horizontal)"
        >
          Horizontals
        </ui-button>
      </div>
      <div class="filter">
        <ui-button
          isFullWidth
          [isActive]="(ui.searchDirection | async) === Direction.Vertical"
          (click)="onFilterClick(Direction.Vertical)"
        >
          Verticals
        </ui-button>
      </div>
    </div>

    <!-- Keyboard -->
    <div class="keyboard">
      <ui-button isFullWidth (click)="onButtonClick(1)">1</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(2)">2</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(3)">3</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(4)">4</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(5)">5</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(6)">6</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(7)">7</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(8)">8</ui-button>
      <ui-button isFullWidth (click)="onButtonClick(9)">9</ui-button>

      <!-- Cancel 1 number -->
      <ui-button isFullWidth color="outline-secondary" (click)="onCancelOne()">
        &lArr;
      </ui-button>

      <ui-button isFullWidth (click)="onButtonClick(0)">0</ui-button>

      <!-- Cancel all numbers -->
      <ui-button isFullWidth color="outline-secondary" (click)="onCancelAll()">
        Del
      </ui-button>
    </div>

  </div>
</div>
