@import 'src/app/style';

:host {
  @include pal((
    flex: (
      dir: column,
      cross-axis: stretch,
    )
  ));
}

ul {
  @include pal((
    space: m0 p0,
    _: (
      list-style-type: none,
    )
  ));

  ::ng-deep li {
    font-size: 1.35rem;
    @include pal((
      space: 'py1,5' px2,
    ));
  }

  ::ng-deep li:nth-child(even) {
    @include pal-color('gray-light');
  }

  ::ng-deep li:nth-child(odd) {
    @include pal-color('white');
  }
}
