@import 'src/app/style';

aside {
  @include pal((
    'any': (
      position: fixed (0 33% 0 0),
      color: 'white' 'black',
      z: 'side-menu',
      _: (
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.33),
      )
    ),
    'tablet+': (
      position: fixed (0 50% 0 0)
    ),
    'desktop+': (
      position: fixed (0 75% 0 0)
    ),
  ));
}

ul {
  @include pal((
    flex: (dir: column),
    space: p0,
    _: (
      list-style-type: none,
    )
  ));
}

li {
  @include pal((
    space: py2 px3,
    size: w-full,
  ));

  &.active,
  &:hover {
    @include pal((
      color: 'gray',
      _: (
        cursor: pointer,
      )
    ));
  }
}

a {
  font-size: pal-get('units.4');

  &:hover {
    color: inherit;
  }
}
