@import 'src/app/style';

aside {
  @include pal((
    color: 'white' 'black',
    position: fixed (0 33% 0 0),
  ));
  box-shadow: 10px 0 10px -5px #ccc;
  z-index: 2;
}

ul {
  @include pal((
    flex: (dir: column),
    space: p0,
  ));
  list-style-type: none;
}

li {
  @include pal((
    space: py2 px3,
    size: w-full,
  ));

  &.active,
  &:hover {
    background-color: pal-color-get('gray');
    cursor: pointer;
  }
}

a {
  font-size: pal-get('units.4');

  &:hover {
    color: inherit;
  }
}
