@import 'src/app/style';

aside {
  z-index: 3;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.33);
  @include pal((
    '*': ( position: fixed (0 33% 0 0), color: 'white' 'black' ),
    'tablet+': ( position: fixed (0 50% 0 0) ),
    'desktop+': ( position: fixed (0 75% 0 0) ),
  ));
}

ul {
  @include pal((
    flex: (dir: column),
    space: p0,
  ));
  list-style-type: none;
}

li {
  @include pal((
    space: py2 px3,
    size: w-full,
  ));

  &.active,
  &:hover {
    background-color: pal-color-get('gray');
    cursor: pointer;
  }
}

a {
  font-size: pal-get('units.4');

  &:hover {
    color: inherit;
  }
}
