@import 'src/app/style';

li {
  cursor: pointer;
  @include pal-flex((
    cross-axis: center
  ));
}

.direction {
  font-weight: bold;
  @include pal-space(px1);
}

.clue {
  width: 75%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
