@import 'src/app/style';

li {
  @include pal-flex((
    cross-axis: center,
    _: (
      cursor: pointer,
    )
  ));
}

.direction {
  @include pal((
    space: px1,
    _: (
      font-weight: bold,
    )
  ));
}

.clue {
  @include pal((
    size: w-3/4,
    _: (
      display: inline-block,
      white-space: nowrap,
      overflow: hidden,
      text-overflow: ellipsis,
    )
  ));
}
